[submodule "dev/vcpkg"]
	path = dev/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "externals/sanitizers-cmake"]
	path = externals/sanitizers-cmake
	url = git@github.com:arsenm/sanitizers-cmake.git
[submodule "externals/Vulkan-Hpp"]
	path = externals/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
